*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container{
    width: 100vw;
    height: 100vh;
    background-image: url(Wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    position:relative;
    overflow-x: hidden;
}

.content{
    top: 10%;
    position: relative;
    color: aliceblue;

    padding: 20px 0;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.content h1{
    font-size: 64px;
    font-weight: 600;
}

mark{
    background-color: rgba(0,0,0,0);
    color: aliceblue;
}

.cntdwn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
  }
  
.cntdwn div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
  }


.cntdwn p{
    font-size: 80px;
    color: aliceblue;
    
}

.cntdwn span{
    font-size: 20px;
    padding-left: 20%;
    color: aliceblue;
    

}

